@font-face {
  font-family: "Raleway Regular";
  src: local("Raleway-Regular"), url("/fonts/Raleway/Raleway-Regular.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Regular.woff") format("woff"), url("/fonts/Raleway/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Raleway Extra Bold";
  src: local("Raleway-ExtraBold"), url("/fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype"), url("/fonts/Raleway/Raleway-ExtraBold.woff") format("woff"), url("/fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Raleway Bold";
  src: local("Raleway-Bold"), url("/fonts/Raleway/Raleway-Bold.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Bold.woff") format("woff"), url("/fonts/Raleway/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Raleway SemiBold";
  src: local("Raleway-SemiBold"), url("/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype"), url("/fonts/Raleway/Raleway-SemiBold.woff") format("woff"), url("/fonts/Raleway/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Raleway Light";
  src: local("Raleway-Light"), url("/fonts/Raleway/Raleway-Light.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Light.woff") format("woff"), url("/fonts/Raleway/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
}
:root {
  --bs-primary: #0E62F0;
  --bs-primary-rgb: 14, 98, 240;
  --bs-secondary: #E8ECF0;
  --bs-secondary-rgb: 232, 236, 240;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Raleway Extra Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
}
h1.extra-h {
  font-size: 5.25rem;
  line-height: 100px;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.h-mini {
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #A2A8AF;
}

p {
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

input, button[type=submit] {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.card-text-p-24 {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: #071D43;
  line-height: 28.8px;
}

nav ul li .nav-link {
  font-size: 0.75rem;
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.divider {
  width: 100%;
  height: 1px;
  background: #A2A8AF;
  margin-bottom: 11px;
}

.modal .modal-content {
  border-radius: 30px;
}
.modal .modal-header {
  padding-top: 38px;
  padding-left: 38px;
  padding-right: 38px;
  border-bottom: 0;
}
.modal .modal-header .modal-mini-title {
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #A2A8AF;
}
.modal .modal-header .modal-title {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.modal .modal-header button {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
.modal .modal-body {
  padding-top: 28px;
  padding-right: 38px;
  padding-left: 38px;
  padding-bottom: 38px;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-variant-numeric: lining-nums;
}

div[class^=container] {
  width: 1116px;
  padding: 0;
}

section.head__section {
  background-image: url("../../images/head_back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  border-end-start-radius: 30px;
  border-end-end-radius: 30px;
  padding: 18px 0 12px 0;
}
section.head__section .section__head_logo {
  width: 32%;
}
section .section__head_h {
  padding: 62px 0 57px 0;
}
section .section__head_h h1 {
  margin: 0;
}
section .section__head_h h2 {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3.625rem;
  line-height: 70px;
}
section .section__head_h .section__head_h_p {
  padding-top: 34px;
  width: 61%;
}
section .section__head_h .section__head_h_p img {
  width: 257px;
  height: 100%;
  padding: 0 0 0 12px;
}
section .section__head_h .section__head_h_p p {
  font-size: 1.5rem;
  padding-left: 29px;
  line-height: 28.8px;
}
section .section__head_h > * {
  color: white;
}
section nav ul {
  background-color: rgba(255, 255, 255, 0.28);
  border-radius: 6px;
}
section nav ul.navbar-nav li > div {
  padding: 7px 0 5px 13px;
}
section nav ul.navbar-nav li:last-child > div {
  padding-right: 12px;
}
section nav ul.navbar-nav li a.nav-link {
  color: white;
  line-height: 14.4px;
}
section nav ul.navbar-nav li a.nav-link.active {
  color: var(--bs-primary);
}
section.stat__section {
  padding: 50px 0;
}
section.stat__section .stat__section_block::before {
  content: "";
  display: block;
  width: calc(25% - 10px);
  height: 2px;
  background: rgb(7, 29, 67);
  position: absolute;
  left: -31px;
  top: 57px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
section.stat__section .stat__section_block:last-child::after {
  content: "";
  display: block;
  width: calc(25% - 10px);
  height: 2px;
  background: rgb(7, 29, 67);
  position: absolute;
  right: -31px;
  top: 57px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
section.stat__section .stat__section_block p {
  margin-bottom: 8px;
}
section.stat__section .stat__section_block > p {
  margin-bottom: 0;
  line-height: 19.2px;
}
section.stat__section .number p {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3.625rem;
  line-height: 70px;
}
section.services__section {
  padding-top: 54px;
}
section.services__section h2 {
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #A2A8AF;
  margin-bottom: 16px;
}
section.services__section #pills-tab li:not(:last-child) {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}
section.services__section #pills-tab button {
  padding: 14.5px 16px;
  border-radius: 35px;
  border: 1px solid #E0E0E0;
  background-color: rgba(255, 255, 255, 0);
  color: #071D43;
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
}
section.services__section #pills-tab button.active {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}
section.services__section .services__section_block_img img {
  margin-top: -125px;
}
section.services__section .services__section_block h3 {
  font-family: "Raleway Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
section.services__section .services__section_block img {
  margin-top: 35px;
}
section.services__section .services__section_block p {
  font-size: 0.875rem;
}
section.industry__services {
  padding: 50px 0;
}
section.industry__services h2 {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2.6875rem;
}
section.industry__services .row a {
  text-decoration-line: none;
}
section.industry__services .row a > img {
  max-width: 261px;
  max-height: 305px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.industry__services .row > div {
  max-width: 261px;
}
section.industry__services .row > div:nth-child(even) .industry__services_cards_text {
  border-bottom: 2px solid #A2A8AF;
}
section.industry__services .row > div:nth-child(odd) {
  border-bottom: 2px solid #A2A8AF;
}
section.industry__services .row > div:nth-child(odd) a > img {
  height: 305px;
}
section.industry__services .row > div:first-child a > img {
  -o-object-position: left;
     object-position: left;
}
section.industry__services .row .industry__services_cards_text {
  margin-top: 25px;
}
section.industry__services .row .industry__services_cards_text img {
  width: 25px;
  position: relative;
  left: 30px;
  top: 15px;
}
section.industry__services .row .industry__services_cards_text p {
  padding: 0;
}
section.partners__section {
  padding: 50px 0;
  position: relative;
  z-index: 10;
}
section.partners__section h2 {
  margin-bottom: 30px;
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
section.geograph__section {
  background: url("../../images/geograph_section.png");
  background-size: 100% 100%;
  padding: 100px 0;
  position: relative;
  z-index: 1;
  top: -50px;
}
section.form__section {
  background: url("../../images/form.png") center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 100px 0 150px 0;
  position: relative;
  top: -100px;
  z-index: 10;
}
section.form__section .input-group {
  width: 25%;
}
section.form__section .input-group input {
  border-radius: 35px;
  padding: 16px 20px;
}
section.form__section button {
  padding: 16px 20px;
  width: 20%;
  border-radius: 35px;
}/*# sourceMappingURL=style.css.map */