@font-face {
  font-family: "Raleway Regular";
  src: local("Raleway-Regular"), url("/fonts/Raleway/Raleway-Regular.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Regular.woff") format("woff"), url("/fonts/Raleway/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Raleway Extra Bold";
  src: local("Raleway-ExtraBold"), url("/fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype"), url("/fonts/Raleway/Raleway-ExtraBold.woff") format("woff"), url("/fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Raleway Bold";
  src: local("Raleway-Bold"), url("/fonts/Raleway/Raleway-Bold.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Bold.woff") format("woff"), url("/fonts/Raleway/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Raleway SemiBold";
  src: local("Raleway-SemiBold"), url("/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype"), url("/fonts/Raleway/Raleway-SemiBold.woff") format("woff"), url("/fonts/Raleway/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Raleway Light";
  src: local("Raleway-Light"), url("/fonts/Raleway/Raleway-Light.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Light.woff") format("woff"), url("/fonts/Raleway/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
}
:root {
  --bs-primary: #0E62F0;
  --bs-primary-rgb: 14, 98, 240;
  --bs-secondary: #E8ECF0;
  --bs-secondary-rgb: 232, 236, 240;
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewBox='0 0 18 14' fill='none'%3E%3Cpath d='M1 0.904785H17' stroke='black' stroke-width='1.52381' stroke-linecap='round'/%3E%3Cpath d='M1.00012 7.00024H17.0001' stroke='black' stroke-width='1.52381' stroke-linecap='round'/%3E%3Cpath d='M1 13.0952L10 13.0952' stroke='black' stroke-width='1.52381' stroke-linecap='round'/%3E%3C/svg%3E");
}

@media screen and (min-width: 992px) {
  .form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  }
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Raleway Extra Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
}
h1.extra-h {
  font-size: 5.25rem;
  line-height: 100px;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  h1.extra-h {
    font-size: 2.75rem;
    line-height: 52.8px;
  }
}
@media screen and (max-width: 540px) {
  h1.extra-h {
    font-size: 1.75rem;
    line-height: normal;
  }
}

h2 {
  font-family: "Raleway Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.h-mini {
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #A2A8AF;
}

p {
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

input, button[type=submit] {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.card-text-p-24 {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: #071D43;
  line-height: 28.8px;
}

@media screen and (max-width: 540px) {
  .card-text-p-14-sm {
    font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    text-decoration: none;
    color: #071D43;
    line-height: 16.8px;
  }
}

nav ul li .nav-link {
  font-size: 0.875rem;
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
@media screen and (min-width: 1500px) {
  nav ul li .nav-link {
    font-size: 1rem;
  }
}
@media screen and (max-width: 992px) {
  nav ul li .nav-link {
    font-size: 1.5rem;
  }
}
nav ul li .dropdown-item {
  font-size: 0.875rem;
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-decoration-line: underline;
}
@media screen and (min-width: 1500px) {
  nav ul li .dropdown-item {
    font-size: 1rem;
  }
}
@media screen and (max-width: 992px) {
  nav ul li .dropdown-item {
    padding: 0;
    margin-bottom: 16px;
    font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8784313725);
  }
}
@media screen and (min-width: 992px) {
  nav ul li .dropdown-item:not(.group) {
    color: white;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: #A2A8AF;
  margin-bottom: 11px;
}

@media screen and (max-width: 960px) {
  .overflow-for-lg-scroll {
    overflow-x: scroll;
  }
}

.modal .modal-content {
  border-radius: 30px;
}
.modal .modal-header {
  padding-top: 38px;
  padding-left: 38px;
  padding-right: 38px;
  border-bottom: 0;
}
.modal .modal-header .modal-mini-title {
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #A2A8AF;
}
.modal .modal-header .modal-title {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.modal .modal-header button {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
.modal .modal-body {
  padding-top: 28px;
  padding-right: 38px;
  padding-left: 38px;
  padding-bottom: 38px;
}

.footer-main-link {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3rem;
}
@media screen and (max-width: 540px) {
  .footer-main-link {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 320px) {
  .footer-main-link {
    font-size: 1.25rem;
  }
}

footer p {
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
}
@media screen and (min-width: 1500px) {
  footer p {
    font-size: 1rem;
  }
}
footer p.footer-mini-p {
  color: #A2A8AF;
  margin-bottom: 12px;
}
footer .footer-link {
  font-size: 1.5rem;
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 1500px) {
  footer .footer-link {
    font-size: 1.625rem;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-variant-numeric: lining-nums;
}
body.modal-open {
  overflow: auto !important;
}

div[class^=container] {
  max-width: 1116px;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1140px) {
  div[class^=container] {
    padding: 0 24px;
  }
}

section.head__section {
  background-image: url("../../images/head_back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  border-end-start-radius: 30px;
  border-end-end-radius: 30px;
  padding: 18px 0 12px 0;
}
@media screen and (max-width: 1140px) {
  section.head__section {
    background-size: auto auto;
    background-position: right;
  }
}
section.head__section .section__head_logo {
  width: 32%;
}
@media screen and (max-width: 320px) {
  section.head__section .section__head_logo {
    width: 50%;
  }
  section.head__section .section__head_logo img {
    width: 100%;
  }
}
section .section__head_h {
  padding: 62px 0 57px 0;
}
@media screen and (max-width: 992px) {
  section .section__head_h {
    padding-bottom: 38px;
  }
}
section .section__head_h h1 {
  margin: 0;
}
section .section__head_h h2 {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3.625rem;
  line-height: 70px;
}
@media screen and (max-width: 720px) {
  section .section__head_h h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 540px) {
  section .section__head_h h2 {
    font-size: 1.25rem;
    line-height: normal;
  }
}
section .section__head_h .section__head_h_p {
  padding-top: 34px;
  width: 61%;
}
@media screen and (max-width: 720px) {
  section .section__head_h .section__head_h_p {
    width: 50%;
  }
}
@media screen and (max-width: 360px) {
  section .section__head_h .section__head_h_p {
    width: 75%;
  }
}
section .section__head_h .section__head_h_p img {
  width: 257px;
  height: 100%;
  padding: 0 0 0 12px;
}
@media screen and (max-width: 720px) {
  section .section__head_h .section__head_h_p img {
    width: 40%;
  }
}
section .section__head_h .section__head_h_p p {
  font-size: 1.5rem;
  padding-left: 29px;
  line-height: 28.8px;
}
@media screen and (max-width: 720px) {
  section .section__head_h .section__head_h_p p {
    font-size: 0.75rem;
    line-height: 16.8px;
  }
}
section .section__head_h > * {
  color: white;
}
@media screen and (max-width: 992px) {
  section nav .offcanvas {
    padding: 24px;
  }
}
@media screen and (min-width: 992px) {
  section nav .offcanvas .offcanvas_off.butt {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  section nav .offcanvas {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
section nav.scroll {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(14, 16, 26, 0.6);
  border-radius: 0 0 30px 30px;
  padding: 16px 0;
}
section nav.scroll ul {
  background-color: inherit;
  border-radius: 0;
}
section nav.scroll ul .nav-item.dropdown .dropdown-menu {
  background-color: rgba(14, 16, 26, 0.5);
  margin-top: 15px;
}
section nav.scroll ul .nav-item.dropdown .dropdown-menu .dropdown-item:focus, section nav.scroll ul .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  color: var(--bs-primary);
  background-color: inherit;
}
section nav ul {
  background-color: rgba(255, 255, 255, 0.28);
  border-radius: 6px;
}
section nav ul .nav-item.dropdown .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.28);
  border-radius: 0 0 6px 6px;
  margin-top: 0;
}
@media screen and (max-width: 992px) {
  section nav ul .nav-item.dropdown .dropdown-menu {
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(255, 255, 255, 0);
    margin-top: 0 !important;
  }
}
section nav ul .nav-item.dropdown .dropdown-menu .dropdown-item:focus, section nav ul .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  color: var(--bs-primary);
  background-color: inherit;
}
@media screen and (min-width: 992px) {
  section nav ul.navbar-nav li > div {
    padding: 7px 0 5px 13px;
  }
  section nav ul.navbar-nav li:last-child > div {
    padding-right: 12px;
  }
}
@media screen and (min-width: 992px) {
  section nav ul.navbar-nav li a.nav-link {
    color: white;
    line-height: 14.4px;
  }
}
section nav ul.navbar-nav li a.nav-link.active {
  color: var(--bs-primary);
}
section nav ul.navbar-nav li a.nav-link.show {
  color: white;
}
section nav ul.navbar-nav li a.nav-link:hover {
  color: var(--bs-primary);
}
@media screen and (max-width: 992px) {
  section nav #navbarOffcanvasLg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
section nav #navbarOffcanvasLg .newWrapper {
  width: 100%;
}
section nav .offcanvas__section a.offcanvas_d {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}
@media screen and (min-width: 992px) {
  section nav .offcanvas__section .offcanvas_d {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  section nav #languageSelector {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 992px) {
  section nav #languageSelector .form-select {
    width: 75% !important;
    background-color: rgba(255, 255, 255, 0) !important;
    padding-right: 16px !important;
    color: white !important;
    border: none;
  }
  section nav #languageSelector .form-select option {
    color: black !important;
    background-color: rgba(255, 255, 255, 0.28);
  }
}
section nav a.btn:not(.offcanvas_d) {
  font-size: 0.875rem;
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--bs-primary);
  line-height: 24px;
}
@media screen and (min-width: 1500px) {
  section nav a.btn:not(.offcanvas_d) {
    font-size: 1rem;
  }
}
@media screen and (max-width: 992px) {
  section nav a.btn:not(.offcanvas_d) {
    font-size: 0.875rem;
    color: white !important;
    background-color: var(--bs-primary) !important;
  }
}
section nav a.btn:not(.offcanvas_d):hover {
  color: white !important;
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}
section.stat__section {
  padding: 50px 0;
}
@media screen and (min-width: 992px) {
  section.stat__section .stat__section_block::before {
    content: "";
    display: block;
    width: calc(25% - 10px);
    height: 2px;
    background: rgb(7, 29, 67);
    position: absolute;
    left: -31px;
    top: 57px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@media screen and (min-width: 992px) {
  section.stat__section .stat__section_block:last-child::after {
    content: "";
    display: block;
    width: calc(25% - 10px);
    height: 2px;
    background: rgb(7, 29, 67);
    position: absolute;
    right: -31px;
    top: 57px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
section.stat__section .stat__section_block p {
  margin-bottom: 8px;
}
section.stat__section .stat__section_block > p {
  margin-bottom: 0;
  line-height: 19.2px;
}
section.stat__section .number p {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3.625rem;
  line-height: 70px;
}
section.services__section {
  padding-top: 54px;
}
@media screen and (max-width: 1140px) {
  section.services__section {
    overflow: hidden;
  }
}
@media screen and (max-width: 960px) {
  section.services__section {
    padding-bottom: 54px;
  }
}
section.services__section h2 {
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #A2A8AF;
  margin-bottom: 16px;
}
@media screen and (max-width: 1140px) {
  section.services__section #pills-tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 900px;
  }
}
section.services__section #pills-tab li:not(:last-child) {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
}
section.services__section #pills-tab button {
  padding: 14.5px 16px;
  border-radius: 35px;
  border: 1px solid #E0E0E0;
  background-color: rgba(255, 255, 255, 0);
  color: #071D43;
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
}
@media screen and (min-width: 1500px) {
  section.services__section #pills-tab button {
    font-size: 0.875rem;
  }
}
section.services__section #pills-tab button.active {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}
@media screen and (max-width: 1140px) {
  section.services__section .services__section_block_img {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
section.services__section .services__section_block_img img {
  margin-top: -125px;
}
@media screen and (max-width: 1140px) {
  section.services__section .services__section_block_img img {
    width: 100%;
    margin-top: 0px;
  }
}
section.services__section .services__section_block h3 {
  font-family: "Raleway Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
@media screen and (max-width: 720px) {
  section.services__section .services__section_block h3 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }
}
section.services__section .services__section_block .div__mobile_img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  section.services__section .services__section_block img.mobile_img {
    display: none;
  }
}
section.services__section .services__section_block img:not(.mobile_img) {
  margin-top: 35px;
}
@media screen and (max-width: 1140px) {
  section.services__section .services__section_block img:not(.mobile_img) {
    margin-top: 20x;
  }
}
section.services__section .services__section_block p {
  font-size: 0.875rem;
}
@media screen and (min-width: 1500px) {
  section.services__section .services__section_block p {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 720px) {
  section.services__section .services__section_block p {
    font-size: 0.75rem;
  }
}
section.industry__services {
  padding: 50px 0;
}
section.industry__services h2 {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2.6875rem;
}
@media screen and (max-width: 720px) {
  section.industry__services h2 {
    font-size: 1.75rem;
  }
}
section.industry__services .row a {
  text-decoration-line: none;
}
section.industry__services .row a > img {
  max-width: 261px;
  max-height: 305px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
section.industry__services .row > div {
  max-width: 261px;
}
@media screen and (max-width: 320px) {
  section.industry__services .row > div.industry__services_block {
    width: 100%;
  }
}
section.industry__services .row > div:nth-child(even) .industry__services_cards_text {
  border-bottom: 2px solid #A2A8AF;
}
@media screen and (max-width: 1140px) {
  section.industry__services .row > div:nth-child(even) a > img {
    height: 305px;
  }
}
@media screen and (max-width: 1140px) and (max-width: 320px) {
  section.industry__services .row > div:nth-child(even) a > img {
    width: 100%;
  }
}
section.industry__services .row > div:nth-child(odd) {
  border-bottom: 2px solid #A2A8AF;
}
section.industry__services .row > div:nth-child(odd) a > img {
  height: 305px;
}
@media screen and (max-width: 320px) {
  section.industry__services .row > div:nth-child(odd) a > img {
    width: 100%;
  }
}
section.industry__services .row > div:first-child a > img {
  -o-object-position: left;
     object-position: left;
}
section.industry__services .row .industry__services_cards_text {
  margin-top: 25px;
}
section.industry__services .row .industry__services_cards_text img {
  width: 25px;
  position: relative;
  left: 30px;
  top: 15px;
}
@media screen and (max-width: 540px) {
  section.industry__services .row .industry__services_cards_text img {
    top: 0;
    width: 20px;
  }
}
section.industry__services .row .industry__services_cards_text p {
  padding: 0;
}
section.partners__section {
  padding: 50px 0;
  position: relative;
  z-index: 10;
}
section.partners__section h2 {
  margin-bottom: 30px;
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 720px) {
  section.partners__section h2 {
    font-size: 1.75rem;
  }
}
section.geograph__section {
  position: relative;
  padding: 65px 0;
}
section.geograph__section h2 {
  color: white;
  margin-bottom: 30px;
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 720px) {
  section.geograph__section h2 {
    font-size: 1.75rem;
  }
}
section.geograph__section .img {
  background: url("../../images/geograph_section.png");
  background-size: 100% 100%;
  position: absolute;
  z-index: -1;
  top: -50px;
  width: 100%;
  height: 120%;
}
@media screen and (max-width: 1140px) {
  section.geograph__section #geographic-tab {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 900px;
  }
}
section.geograph__section #geographic-tab li:not(:last-child) {
  margin-right: 0.75rem;
}
section.geograph__section #geographic-tab button {
  padding: 14.5px 16px;
  border-radius: 35px;
  border: 1px solid #E0E0E0;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
  height: 100%;
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.8125rem;
}
@media screen and (min-width: 1500px) {
  section.geograph__section #geographic-tab button {
    font-size: 0.875rem;
  }
}
section.geograph__section #geographic-tab button.active {
  color: white;
  border-color: var(--bs-primary);
}
section.geograph__section .geograph__section_block {
  padding: 57px 0 57px 71px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px 0 0 30px;
}
@media screen and (min-width: 1500px) {
  section.geograph__section .geograph__section_block {
    height: 450px;
  }
}
@media screen and (max-width: 768px) {
  section.geograph__section .geograph__section_block {
    padding-right: 57px;
    border-radius: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 540px) {
  section.geograph__section .geograph__section_block {
    padding: 30px 30px 30px 35px;
  }
}
section.geograph__section .geograph__section_block .geograph__section_text:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  section.geograph__section .geograph__section_block .geograph__section_text {
    text-align: center;
    width: 25%;
  }
}
@media screen and (max-width: 768px) and (min-width: 540px) {
  section.geograph__section .geograph__section_block .geograph__section_text {
    margin-bottom: 0px !important;
  }
}
@media screen and (max-width: 720px) {
  section.geograph__section .geograph__section_block .geograph__section_text {
    width: 50%;
  }
}
@media screen and (max-width: 540px) {
  section.geograph__section .geograph__section_block .geograph__section_text {
    width: 100%;
  }
}
section.geograph__section .geograph__section_block .geograph__section_text p {
  margin-bottom: 0;
  color: white;
}
section.geograph__section .geograph__section_block .geograph__section_text p.p-main {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 28.8px;
}
@media screen and (min-width: 1500px) {
  section.geograph__section .geograph__section_block .geograph__section_text p.p-main {
    font-size: 1.875rem;
  }
}
section.geograph__section .geograph__section_block .geograph__section_text p.p-secondary {
  font-family: "Raleway Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: #BFBFBF;
}
@media screen and (min-width: 1500px) {
  section.geograph__section .geograph__section_block .geograph__section_text p.p-secondary {
    font-size: 1rem;
  }
}
section.geograph__section .tab-pane:nth-child(n+3) .geograph__section_block_img {
  max-height: 397px;
  overflow: hidden;
  border-radius: 30px;
}
@media screen and (min-width: 1500px) {
  section.geograph__section .tab-pane:nth-child(n+3) .geograph__section_block_img {
    max-height: 450px;
    height: 450px;
  }
}
@media screen and (max-width: 540px) {
  section.geograph__section .tab-pane:nth-child(n+3) .geograph__section_block_img .position-absolute {
    top: 35% !important;
    font-size: 2rem !important;
    line-height: normal !important;
  }
}
section.geograph__section .tab-pane:nth-child(n+3) .geograph__section_block_img img {
  border-radius: 30px;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(10px) brightness(0.6) opacity(0.9);
          filter: blur(10px) brightness(0.6) opacity(0.9);
}
section.geograph__section .geograph__section_block_img iframe {
  height: 100%;
  border-radius: 0 30px 30px 0;
}
section.geograph__section .geograph__section_block_img img {
  border-radius: 0 30px 30px 0;
}
section.form__section {
  background: url("../../images/form.png") center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 50px 0 60px 0;
  position: relative;
  z-index: 10;
  margin-bottom: -30px;
}
section.form__section .input-group {
  width: 25%;
}
@media screen and (max-width: 768px) {
  section.form__section .input-group {
    width: 100%;
  }
}
section.form__section .input-group input {
  border-radius: 35px;
  padding: 16px 20px;
}
@media screen and (min-width: 1500px) {
  section.form__section .input-group input {
    padding: 10px 15px;
    font-size: 18px;
  }
}
section.form__section button {
  padding: 16px 20px;
  width: 20%;
  border-radius: 35px;
}
@media screen and (min-width: 1500px) {
  section.form__section button {
    padding: 10px 15px;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  section.form__section button {
    width: 100%;
  }
}
section.form__section h2 {
  font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3rem;
}
@media screen and (max-width: 720px) {
  section.form__section h2 {
    font-size: 1.75rem;
  }
}
section.form__section #customer__clients {
  margin-top: 40px;
  margin-bottom: 16px;
}

footer {
  position: relative;
  bottom: 0;
  z-index: 11;
  border-radius: 30px 30px 0 0;
  padding: 30px 0 30px 0;
}
footer a {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
}
footer a:hover {
  color: var(--bs-primary);
}
footer .footer__section_links .link_sect {
  margin-bottom: 16px;
}
footer .block:nth-child(2) p:nth-child(2) {
  margin-bottom: 0;
}
footer .divider {
  margin: 30px 0;
}
@media screen and (max-width: 992px) {
  footer .dropdown-menu {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgba(255, 255, 255, 0);
    padding: 8px 8px;
  }
}
@media screen and (max-width: 320px) {
  footer .footer__sections_tech_info .logo img {
    width: 75%;
  }
}
footer .footer__sections_tech_info p {
  font-size: 0.75rem;
}/*# sourceMappingURL=style.css.map */