body
    margin: 0 auto
    padding: 0
    font-family: "Raleway Regular", Arial, Helvetica, sans-serif
    font-variant-numeric: lining-nums

div[class^=container]
    width: 1116px
    padding: 0

section
    &.head__section
        background-image: url('../../images/head_back.png')
        background-position: center center
        background-repeat: no-repeat
        background-size: 100% 100%
        height: auto
        border-end-start-radius: 30px
        border-end-end-radius: 30px
        padding: 18px 0 12px 0
        .section__head_logo
            width: 32%
    .section__head_h
        padding: 62px 0 57px 0
        h1
            margin: 0
        h2
            font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif
            font-weight: 600
            font-size: 3.625rem
            line-height: 70px
        .section__head_h_p
            padding-top: 34px
            width: 61%
            img
                width: 257px
                height: 100%
                padding: 0 0 0 12px
            p
                font-size: 1.5rem
                padding-left: 29px
                line-height: 28.8px
        > *
            color: white  
    nav   
        ul
            background-color: rgba(255, 255, 255, 0.28)
            border-radius: 6px
            &.navbar-nav
                li
                    &>div
                        padding: 7px 0 5px 13px
                    &:last-child > div
                        padding-right: 12px
                    a.nav-link
                        color: white
                        line-height: 14.4px
                        &.active
                            color: var(--bs-primary)
    
    &.stat__section
        padding: 50px 0
        .stat__section_block
            &::before
                content: ""
                display: block
                width: calc(25% - 10px)
                height: 2px
                background: rgba(7, 29, 67, 1)
                position: absolute
                left: -31px
                top: 57px  
                transform: rotate(90deg)
            &:last-child
                &::after
                    content: ""
                    display: block
                    width: calc(25% - 10px)
                    height: 2px
                    background: rgba(7, 29, 67, 1)
                    position: absolute
                    right: -21px
                    top: 57px  
                    transform: rotate(90deg)
            p
                margin-bottom: 8px
            & > p 
                margin-bottom: 0
                line-height: 19.2px
        .number
            p
                font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif
                font-weight: 600
                font-size: 3.625rem
                line-height: 70px
    &.services__section
        padding-top: 54px
        h2
            font:
                family: "Raleway Regular", Arial, Helvetica, sans-serif
                weight: 400
                size: 0.875rem
            color:#A2A8AF
            margin-bottom: 16px
        #pills-tab
            li:not(:last-child)
                margin-right: 0.75rem
                margin-bottom: 0.75rem
            button
                padding: 14.5px 16px
                border-radius: 35px
                border: 1px solid #E0E0E0
                background-color: rgba(255, 255, 255, 0)
                color: #071D43
                font:
                    family: "Raleway SemiBold", Arial, Helvetica, sans-serif
                    weight: 600
                    size: 0.75rem

                &.active
                    color: var(--bs-primary)
                    border-color: var(--bs-primary)
        .services__section_block_img
            img
                margin-top: -125px
        .services__section_block
            h3
                font: 
                    family: "Raleway Bold", Arial, Helvetica, sans-serif
                    weight: 700
                    size: 3rem
                margin-bottom: 1.5rem
            img
                margin-top: 35px
            p
                font-size: 0.875rem