body
    width: 1116px
    margin: 0 auto
    padding: 0
    font-family: "Raleway Regular", Arial, Helvetica, sans-serif
    font-variant-numeric: lining-nums


nav 
    margin-top: 17px
    ul
        &.navbar-nav
            li
                a.nav-link
                    color: white
                    &.active
                        color: var(--bs-primary)