@import '_valurables.sass'
.garvex_absolute_scroll
    width: 403px
    right: 0
    @media screen and ( max-width: $media-xl )
        width: 100%
    .garvex_fixed_scroll
        background: url(../../images/gElement.png) center 100% no-repeat
        position: fixed
        z-index: -1
        bottom: 40vh
        width: inherit
        height: 100%

        
        