@import '_valurables.sass'
    
.garvex_fixed_scroll
    background: url(../../images/gElement.png) center 100% no-repeat
    position: fixed
    z-index: -1
    bottom: 40vh
    width: 100%
    height: 100%
        