@import '_valurables.sass'

*
    margin: 0
    padding: 0

h1
    font-family: "Raleway Extra Bold", Arial, Helvetica, sans-serif
    font-weight: 800
    &.extra-h
        font-size: 5.25rem
        line-height: 100px
        text-transform: uppercase
        @media screen and (max-width: $media-md)
            font-size: 2.75rem
            line-height: 52.8px
        @media screen and (max-width: $media-sm)
            font-size: 1.75rem
            line-height: normal

h2
    font-family: "Raleway Bold", Arial, Helvetica, sans-serif
    font-weight: 700
    font-size: 3rem

.h-mini
    font:
        family: "Raleway Regular", Arial, Helvetica, sans-serif
        weight: 400
        size: 0.875rem
    color: #A2A8AF

p
    font-family: "Raleway Regular", Arial, Helvetica, sans-serif
    font-weight: 400

input, button[type=submit]
    font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif
    font-weight: 600
    font-size: 12px
.card-text-p-24
    font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif
    font-weight: 600
    font-size: 1.5rem
    text-decoration: none
    color: #071D43
    line-height: 28.8px
.card-text-p-14-sm
    @media screen and ( max-width: $media-sm )
        font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif
        font-weight: 600
        font-size: 0.875rem
        text-decoration: none
        color: #071D43
        line-height: 16.8px
body
    &.modal-open
        nav#menuDouble
            width: calc( 100% - var(--scroll-padding) )
nav
    .navbar-toggler:focus
        box-shadow: none !important
    ul
        li
            .nav-link
                font-size: 0.875rem
                font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif
                font-weight: 600
                @media screen and (min-width: $media-xs)
                    font-size: 1rem
                @media screen and (max-width: $media-lg-991)
                    font-size: 1.5rem
            .dropdown-item
                font-size: 0.875rem
                font-family: "Raleway Regular", Arial, Helvetica, sans-serif
                font-weight: 400
                @media screen and (min-width: $media-xs)
                    font-size: 1rem
                @media screen and (max-width: $media-lg-991)
                    padding: 0
                    font-family: "Raleway SemiBold", Arial, Helvetica, sans-serif
                    font-size: 0.875rem
                    font-weight: 600
                    color: #000000e0
                @media screen and (min-width: $media-lg-991)
                    &:not(.group)
                        color: white
    .drop__services
        width: 81%
    .dropdown-menu-services
        padding: 11.5px 21.5px
        border-radius: 30px
        color: var(--bs-primary)
        background-color: white
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        position: relative
        transition: 0.1s 0s ease-in-out forwards
        &:hover
            border-bottom-left-radius: 0
            border-bottom-right-radius: 0
            transition: 0.01s 0s ease-in-out forwards
            .dropdown_menu--animated
                display: block
                z-index: 25
        .dropdown_menu
            position: absolute
            top: 100%
            left: 0px
            width: inherit
            z-index: -1
            background-color: white
            border-top-left-radius: 0
            border-top-right-radius: 0
            padding: 0
            border-bottom-left-radius: 30px !important
            border-bottom-right-radius: 30px !important
            li
                display: none
                opacity: 0
                padding: 10px 20px
                text-align: center
                // &:last-child

                    // &::after
                    //     content: ""
                    //     position: absolute
                    //     bottom: -10px
                    //     width: 100%
                    //     left: 50%
                    //     transform: translateX(-50%)
                    //     border-left: 8px solid transparent
                    //     border-right: 8px solid transparent
                    //     border-top: 10px solid #fff
                    //     border-bottom: 17px solid #fff
                    //     border-radius: 50%
                    //     z-index: -1
                a
                    color: var(--bs-primary)
                    text-decoration: none
                    white-space: normal
                &:hover
                    color: #1a3085
                    path
                        fill: #1a3085

        li
            list-style-type: none
        .dropdown_menu--animated
            display: none
            li
                display: block
                opacity: 1
        .dropdown_menu-services
            animation: rotateMenu 400ms ease-in-out forwards
            transform-origin: top center
    &.scroll
        .dropdown-menu-services
            .dropdown_menu
                box-shadow: 0px 20px 20px 0px rgba(34, 60, 80, 0.2)
                li
                    &:last-child
                        &::after
                            box-shadow: 0px 20px 20px 0px rgba(34, 60, 80, 0.2)

@keyframes rotateMenu
    0%
        transform: rotateX(-90deg)

    70%
        transform: rotateX(20deg)

    100%
        transform: rotateX(0deg)
.select__icon
    background: url("../../images/arrows/arrow_dropdown.svg") no-repeat center
    width: 20px
    height: 25px
    text-align: center
    transform: rotateZ(0deg)
    &.white__icon
        background: url("../../images/arrows/arrow_dropdown_white.svg")
        @media screen and ( max-width: $media-lg-991 )
            background: url("../../images/arrows/arrow_dropdown_black.svg")
.divider
    width: 100%
    height: 1px
    background: #A2A8AF
    margin-bottom: 11px
.overflow-for-lg-scroll
    @media screen and ( max-width: $media-lg )
        overflow-x: scroll
.modal
    .modal-content
        border-radius: 30px
    .modal-header
        padding-top: 38px
        padding-left: 38px
        padding-right: 38px
        border-bottom: 0
        .modal-mini-title
            font:
                family: "Raleway Regular", Arial, Helvetica, sans-serif
                weight: 400
                size: 0.875rem
            color: #A2A8AF
        .modal-title
            font:
                family: "Raleway SemiBold", Arial, Helvetica, sans-serif
                weight: 600
                size: 1.5rem
        button
            align-self: baseline
    .modal-body
        padding-top: 28px
        padding-right: 38px
        padding-left: 38px
        padding-bottom: 38px
.footer-main-link
    font:
        family: "Raleway SemiBold", Arial, Helvetica, sans-serif
        weight: 600
        size: 3rem
    @media screen and ( max-width:  $media-sm)
        font-size: 1.875rem
    @media screen and ( max-width:  $media-sm-320)
        font-size: 1.25rem
footer
    p
        font:
            family: "Raleway Regular", Arial, Helvetica, sans-serif
            weight: 400
            size: 0.875rem
        color: white
        @media screen and ( min-width: $media-xs )
            font-size: 1rem
        &.footer-mini-p
            color: #A2A8AF
            margin-bottom: 12px
    .footer-link
        font-size: 1.5rem
        font-family: "Raleway Regular", Arial, Helvetica, sans-serif
        font-weight: 400
        @media screen and ( min-width: $media-xs )
            font-size: 1.625rem
.svg_pdf
    padding: 4px 10px !important
    margin-bottom: 3px
    @media screen and ( min-width: $media-lg )
        path
            fill: #fff
.svg_azs
    padding: 4px 5px !important
    margin-bottom: 3px
    @media screen and ( min-width: $media-lg )
        path
            fill: var(--bs-primary)
.svg_mon
    padding: 4px 5px !important
    margin-bottom: 3px
    @media screen and ( min-width: $media-lg )
        path
            fill: var(--bs-primary)
